@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .leading-12 {
    line-height: 58px;
  }

  .max-w-1160 {
    max-width: 1160px;
  }

  .max-w-496 {
    max-width: 496px;
  }

  .-mr-120 {
    margin-right: -32rem;
  }

  .h-blog-post {
    height: 540px;
  }
}
